/*
 *	
 */

a, a:visited {
	color: #68196A;
	text-decoration: none;
}

header #site-name {
	padding-top: 10px;
	padding-left: 165px;
}

.footer.outer, .header.outer {
	background-image: none;
	background: #F6F5F5;
}

body.index.home .front-page .action-box {
	border-radius: 20px;
	background: #F6F5F5;
}