/*
 *	
 */

a, a:visited {
	color: #68196A;
	text-decoration: none;
}

.footer.outer, .header.outer {
	background-image: none;
	background: #F6F5F5;
}

body.index.home .front-page .action-box {
	border-radius: 20px;
	background: #F2D4FF;
}